body {
  margin: 0;
  font-family: "Comic Sans MS", cursive;
  background: #c7f0a1;
  text-align: center;
}

#maze {
  width: 100vw;
  height: 70vh;
  position: relative;
  background: #9acd32;
}

#path {
  position: absolute;
  width: 10px;
  height: 500px;
  background: yellow;
  left: 50%;
  top: 50px;
}

#finalEntity {
  display: none;
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 9999;
}

.uneasy {
  background: #2f3b1f;
  color: #ddd;
}
